<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Lista de tarefas</title>
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= qualDia %></h1> 
    </div>
    <div class="box">
      <% for (var i = 0; i < novoItem.length; i++) { %>
      <div class="item">
        <input type="checkbox" />
        <p><%= novoItem[i] %></p>
      </div>
      <% } %>
      <form class="item" action="/" method="post">
        <input type="text" name="adicionar" placeholder="Novo item" autocomplete="off"/>
        <button type="submit">+</button>
      </form>
    </div>
  </body>
</html>
